/* Simple CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  position: relative;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  color: white;
}

@media (min-width: 768px) {
  html { font-size: 22px; }
}
